/* google font  */

body{
    font-family: 'Outfit', sans-serif;
font-family: 'Poppins', sans-serif;
}

/* carousel-button option  */

.slider-button{
    background-color: white;
    color: #3F87F5;
}

/* for all h2  */

h2{
    text-align: center;
}

/* photo album */

#album-button{
    background-color: #3F87F5;
    color: white;
}
.fa-arrow-right{
    color: white;
}

/* packages part */

.packages{
    background-color: #f496d267;
    color: blue;
    font-weight: bold;
}
.hot-package-card{
border-radius: 15px;
box-shadow: 0px 10px #7FFFD4;
}
.hot-packages{
    background-color: #3F87F5;
}
.fa-check-circle{
color: #848199;
}
#hot-package-font{
    color: #FFFFFF;
}

/* about us part  */

.about{
    width: 546px;
height: 364px;
}

/* footer part  */

footer{
    background-color: #0B0D17;
    color: white;
}