/* google font  */

body{
    font-family: 'Outfit', sans-serif;
font-family: 'Poppins', sans-serif;
}

/* carousel-button option  */

.slider-button{
    background-color: white;
    color: #3F87F5;
}

/* for all h2  */

h2{
    text-align: center;
}

/* photo album */

#album-button{
    background-color: #3F87F5;
    color: white;
}
.fa-arrow-right{
    color: white;
}

/* packages part */

.packages{
    background-color: #f496d2b0;
    color: #3F87F5;
}
.hot-package-card{
border-radius: 15px;

}
.hot-packages{
    background-color: #3F87F5;
}

/* footer part  */

footer{
    background-color: #0B0D17;
    color: white;
}